@import "tailwindcss";
/* @plugin "daisyui"; */

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .radio-button-color {
    @apply radio-primary;
  }

  .range-input-color {
    @apply range-primary;
  }
} */